{% extends "layout.html" %}
{% block content %}

<div id="about" class="jumbotron">
  <img id="about" src="{{ url_for('static', filename='images/display/about.JPG') }}" />
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet purus sit amet risus semper, ac auctor enim finibus. Suspendisse potenti. Pellentesque condimentum sem sed massa vulputate, vitae posuere magna lobortis. Cras id magna suscipit leo tincidunt tincidunt ut ultrices nisl. Proin vitae risus id dui luctus elementum. Donec id lacus diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mauris augue, dictum nec libero ac, ultrices cursus nisl. Nulla fermentum quam ac mi facilisis dapibus. Vestibulum sollicitudin pulvinar orci, in placerat nisi laoreet nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum aliquet mauris ut erat blandit, nec ultrices mi bibendum.
  </p>

  <p>Quisque vehicula lectus sed libero pulvinar, in lacinia purus feugiat. Fusce aliquam vestibulum iaculis. Pellentesque vel mauris eget dolor euismod maximus sed vel sapien. Nam blandit a nulla sed luctus. Sed vitae erat quis tortor tempor lacinia vitae sit amet massa. Quisque sollicitudin mi eget nisl hendrerit, tristique varius risus gravida. Quisque sed maximus risus. Pellentesque ac sapien turpis. Nulla enim lorem, suscipit id molestie non, luctus at libero. Aliquam erat volutpat. Nullam in nibh non dolor tempus fringilla. Aenean eu ex pretium, dignissim odio vitae, pulvinar leo. Curabitur ut feugiat nunc, sed ornare diam. Maecenas in felis ultrices, viverra leo ac, commodo erat. Etiam venenatis sem dapibus nibh vulputate, et ultrices mi sagittis.</p>
</div>

{% endblock content %}
