{% extends "layout.html" %}
{% block content %}

<div id="events" class="jumbotron shadow">
  <h2 id="events">{{ _("Upcoming") }}</h2>
  <div id="nextEvent" class="jumbotron shadow-sm">

    <h3>{{ _("Edinburgh, Scotland") }}</h3>
    <p>{{ _("Princess Street Gardens East") }}</p>
    <p>{{eventDates[1][0]}}  -  {{eventDates[1][1]}}</p>

  </div>
  <h2 id="events">{{ _("Past") }}</h2>
    <div id="pastEvent" class="jumbotron shadow-sm">

      <h3>{{ _("Edinburgh, Scotland") }}</h3>
      <p>{{ _("Princess Street Gardens East") }}</p>
      <p>{{eventDates[0][0]}}  -  {{eventDates[0][1]}}</p>

      <div id="carousel1" class="container">
        <div class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000" data-pause="hover">
          <div class="carousel-inner" role="listbox">
            {% for img in carousel1Range %}
              <div class="carousel-item">
                  <img id="carousel1" src="{{ url_for('static', filename='images/events/') }}{{img + 1}}.JPG" />
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
</div>

{% endblock content %}
